.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-title {
    margin-top: 2.5rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    text-align: center;
    color: rgba(32, 32, 32, 0.909);
}

.about-content {
    display: flex;
    gap: 7rem;
}

.about-texts p{
    width: 470px;
    margin-left: 45px;
    color: rgb(70, 69, 69);
    text-align: center;
}

.about-texts h4{
    margin-bottom: .3rem;
    font-size: 1.3rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.751);
}

.about-images {
    display: flex;
}

.about-img-2{
    width: 370px;
    position: relative;
    right: 0;
    z-index: 10;
    transition: .4s;
}

.about-img-1{
    width: 370px;
    position: absolute;
    margin-top: 150px;
    margin-left: 200px;
    z-index: 100;
    transition: .4s;
}

.about-img-1:hover {
    transform: scale(1.02);
}

.about-img-2:hover {
    transform: scale(1.02);
}